body {
    background-color: #C0C0C0;
    background-attachment: fixed;
    background-size: 100%;
    overflow: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

#top-label {
    position: relative;
    background-color: #202020;
    display: flex;
    margin-right: -8px;
    margin-left: -8px;
    margin-top: -12px;
    height: 50px;
    text-align: center;
}

#tthk {
    margin: auto;
    width: fit-content;
    color: #E0E0E0;
    font-family: 'Courier New', Courier, monospace;
}

#top-content {
    position: fixed;
    float: left;
    width: 6%;
    height: 100%;
    display: block;
    background-color: rgb(200, 200, 200);
    margin: 0 -8px 0 -10px;
    box-shadow: 0 1px 10px -6px rgba(0,0,0,.42),0 1px 10px 0 rgba(0,0,0,.12),0 4px 5px -2px rgba(0,0,0,.2);

}

#logo {
    width: 80px;
    height: 80px;
    margin: 10px 105px 20px 20px;
}

#underLogo{
    margin-top: 5px;
    width: 100px;
    height: 100px;
    right: 0;
    margin-right: 40px;
    position: absolute;
}

#main-picture {
    transition: 0.3s;
    margin-bottom: 100px;
    opacity: 0.9;
    background: no-repeat center center fixed;
    background-size: cover;
}

#PictureDiv{
    width: 101.2%;
    height: min-content;
    margin-left: -10px;
}

#main-picture:hover {
    transition: 0.3s;
    opacity: 0.7;
}

#navigation-panel {
    position: relative;
    width: 40%;
    top: 35%;
}

#navigation-panel a{
    text-decoration: none;
    margin-top: 50%;
    height: fit-content;
    color: #E0E0E0;
    padding: 15px;
}

#login {
    float: right;
    text-decoration: none;
    height: fit-content;
    margin-top: 10px;
    padding: 5px 20px;
    font-size: 20px;
    border-radius: 15px;
    margin-right: 5%;
    color: #E0E0E0;
    background: #6d44b8;
}

.navActive {
    background: #6d44b8;
}

#footer-info {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    height: 110px;
    width: 100%;
    text-align: center;
    background-color: #202020;
    color: #E0E0E0;
}

#footer{
    margin-left: 50px;
}

#footer span {
    margin-right: 15px;
}

#footer img {
    margin-right: 7px;
    width: 20px;
    height: 20px; 
    -webkit-filter: invert(0.5);
    filter: invert(0.5);
}

.info {
    align-self: center;
}

footer {
    display: flex;
}

#table {
    margin: 0 auto;
    width: 100%;
    border-collapse: collapse;
    overflow-y: auto;
}
#table tr th {
    padding: 10px 20px;
    background-color: #202020;
    color: aliceblue;
    font-family: "Comic Sans MS";
    font-size: 18px;
}

#table td {
    text-align: center;
    font-family: "Comic Sans MS";
    padding: 10px;
}

#table th:first-child {
    border-top-left-radius: 10px;
}

#table th:last-child {
    border-top-right-radius: 10px;
}

#div-table {
    width: 50%;
    height: min-content;
    background-color: rgb(210, 210, 210);
    border-radius: 10px;
    margin: 30px 27% 30px auto;
}

#addHair {
    position: relative;
    margin: auto;
    width: 25%;
    margin-top: 2.5%;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 30px;
    background-color: rgb(150, 150, 150, 0.7);
    box-shadow: 5px 5px 50px;
    font-family: "Comic Sans MS";
}

#addHair form {
    margin-left: 27.5%;
}

#formAdd input[type=text], input[type=date] ,input[type=time]{
    font-family: "Comic Sans MS";
    width: 150px;
}

#formAdd select {
    width: 155px;
}

#formAdd input[type=submit]{
    cursor: pointer;
    margin-top: 10px;
    margin-left: 9%;
    width: 100px;
    height: 30px;
    border-radius: 50px;
    font-size: 15px;
    font-family: "Comic Sans MS";
    transition: 0.3s;
}

#formAdd input[type=submit]:hover {
    transition: 0.3s;
    background-color: #6d44b8;
}

#divMap {
    margin: 3% auto 0;
    width: min-content;
    border: solid 2px black;
    border-radius: 4px;
}